
<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
		<div class="container">
            <h2 class='container-heading'><span class="heading_font">DIABETES PREDICTOR</span></h2>
            <div class='description'>
    			<p>Check if you have Diabetes or Not</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="/predict" method="POST">
				<label><b>Pregnancies</b></label>
                <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies eg. 0"><br>
				<label><b>Diabetes Pedigree Function</b></label>
				<input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52"><br>
				<label><b>Age</b></label>
                <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 34"><br>
				<label><b>Glucose</b></label>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80"><br>
				<label><b>Blood Pressure</b></label>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80"><br>
				<label><b>Skin Thickness</b></label>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20"><br>
				<label><b>Insulin Level</b></label>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80"><br>
				<label><b>Body Mass Index</b></label>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1"><br>
                

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>
		


        <!-- Footer -->
       <div class='footer'>
           <p class='footer-description'>Made by Shardul Samdurkar.</p>
       </div>

    </body>
</html>