
<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
		<div class="container">
            <h2 class='container-heading'><span class="heading_font">DIABETES PREDICTOR</span></h2>
            <div class='description'>
    			<p>Check if you have Diabetes or Not</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="/predict" method="POST">
				<label><b>Pregnancies:</b></label><br>
                <input class="form-input" type="text" name="pregnancies" placeholder="eg. 0, 1"><br><br>
				<label><b>Diabetes Pedigree Function:</b></label><br>
				<input class="form-input" type="text" name="dpf" placeholder="eg. 0.52"><br><br>
				<label><b>Age:</b></label><br>
                <input class="form-input" type="text" name="age" placeholder="eg. 34"><br><br>
				<label><b>Glucose (mg/dL):</b></label><br>
                <input class="form-input" type="text" name="glucose" placeholder="eg. 80"><br><br>
				<label><b>Blood Pressure (mmHg):</b></label><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="eg. 80"><br><br>
				<label><b>Skin Thickness (mm):</b></label><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="eg. 20"><br><br>
				<label><b>Insulin Level (IU/mL):</b></label><br>
                <input class="form-input" type="text" name="insulin" placeholder="eg. 80"><br><br>
				<label><b>Body Mass Index (kg/m²):</b></label><br>
                <input class="form-input" type="text" name="bmi" placeholder="eg. 23.1"><br><br>
                

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>
		


        <!-- Footer -->
       <div class='footer'>
           <p class='footer-description'><b>Made by Shardul Samdurkar</b></p>
       </div>

    </body>
</html>